@font-face {
        font-family: "round";
        src: url("Varela_Round/VarelaRound-Regular.ttf") format("truetype");
    }

#paragraph_start{
    font: sans-serif;
    size: 50pt;
    color: white;
    text-decoration: underline;
}

.maintextbox{
    width:500px;
    height: 700px;
    background-color: white;
    border: 15px gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10%;
    text-align:center;
    font-family: round, sans-serif;
}

.secondbox{
    width:300px;
    height: 500px;
    background-color:gray;
    border:10px black;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10%;
    text-align:center;
}

    