@font-face {
        font-family: "round";
        src: url("Varela_Round/VarelaRound-Regular.ttf") format("truetype");
    }

#paragraph_start{
    font: sans-serif;
    size: 50pt;
    color: white;
    text-decoration: underline;
}

.maintextbox{
    width:500px;
    height: 700px;
    background-color: white;
    border: 15px solid gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10%;
    text-align:center;
    font-family: round;
}

.secondbox{
    width:300px;
    height: 500px;
    background-color:rgb(173, 168, 168);
    border:10px solid black;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10%;
    text-align:center;
}

#school{
    color:gray;
    font-family: 'Times New Roman', Times, serif;
    size:20px;
    text-align:center;
}

.navigationpanel{
    width:200px;
    height:400px;
    background-color: lightslategray;
    border: 5px solid black;
    border-radius:5%;
    margin-left:30px;
    margin-top:30px;
    text-align:left;
    text-decoration:underline;
    font-family: round;
}

    