@font-face {
  font-family: 'Varela-Round'; /* A name for your font */
  src: url('Varela_Round/VarelaRound-Regular.ttf') format('truetype');
  font-weight: normal; /* Optional: Define weight */
  font-style: normal; /* Optional: Define style */
  font-display: swap; /* Optional: Defines how font is loaded/displayed */
}

*{
    margin:0;
    padding:0;
    font-family: 'Varela-Round';
    box-sizing: border-box;
}
body{
    background: #080808;
    color:#fff;

}
#header{
    width:100%;
    height:100vh;
    background-image:url();
    background-size:cover;
    background-position:center;
    
}
.container{
    padding:10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width:300px;
    
    margin-top: 0px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:20px;
    font-family: 'Varela-Round';
    position:relative;
    transition: 0.75s;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #1ac9c9;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;

}
nav ul li a:hover{
    font-size: 25px;
}
.header-text{
    margin-top:20%;
    font-size:30px;
}
.header-text h1{
    font-size: 60px;
    margin-top:20px;
}
.header-text h1 span{
    color:#1ac9c9;
}